
.grid {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	width: 30vw;
	height: 30vw;
	border: 2px solid black;
}

.grid > div {
	border: .2em solid white;
	
}

#container {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

#timer-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menu {
    display: flex;
    flex-direction:columns;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 90vh;
    
}
.victory_menu {
    display: none;
}

img {
    height: 40vh;
    width: 20vw;
}




#victory_menu {
	display: none;
	flex-direction: column;
	height: 90vh;
	width: 100vw;
	align-items: center;
}
.option {
	width: 90vw;
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#record {
	display: flex;
	flex-direction: column;
}


* {
	font-size: 5vh;
}

button {
	height: 25vh;
	width: 25vw;
	
} 